extends sidebar
block ueditor
    link(href="/css/square/red.css" rel="stylesheet")
block body
    .container-fluid
        .content
            .panel.panel-info(style='margin-top: 1em')
                .panel-heading
                    h3.panel-title(style='text-align:center') 申请表详情
                .panel-body
                    .panel.panel-success
                        .panel-body.appdetail(style='padding: 0px 15px 0 15px;')
                            .row
                                .col-md-3
                                    h5
                                        strong 申请人姓名
                                .col-md-3
                                    h4 #{form.user.name}
                                .col-md-3
                                    h5
                                        strong 年级专业
                                .col-md-3
                                    h4 #{form.user.class}
                            .row
                                .col-md-3
                                    h5
                                        strong 学号
                                .col-md-3
                                    h4 #{form.user.studentId}
                                .col-md-3
                                    h5
                                        strong 联系电话
                                .col-md-3
                                    h4 #{form.user.phoneNum}
                            .row
                                .col-md-3
                                    h5
                                        strong 申请日期
                                .col-md-9
                                    h4 #{moment(form.date).format('YYYY-MM-DD dddd a h:MM')}
                            .row
                                .col-md-3
                                    h5
                                        strong 借用设备或实验室
                                .col-md-9
                                    h4 #{form.devices}
                            .row
                                .col-md-3
                                    h5
                                        strong 借出日期
                                .col-md-3
                                    h4 #{form.outTime}
                                .col-md-3
                                    h5
                                        strong 归还时间
                                .col-md-3
                                    h4 #{form.returnTime}
                            .row
                                .col-md-3
                                    h5
                                        strong 借用事由
                                .col-md-9
                                    h4 #{form.reasons}
                            .row
                                .col-md-3
                                    h5
                                        strong 指导老师
                                .col-md-9
                                    h4 #{form.advisor}
                            .row
                                .col-md-3
                                    h5
                                        strong 申请状态
                                .col-md-9
                                    - var state = form.state
                                    case state
                                        when 0
                                            h4 同意借出
                                        when 1
                                            h4 不同意
                                        when 2
                                            h4 到期已还
                                        when 3
                                            h4 过期未还
                                        when 4
                                            h4 申请当中
                            .row
                                .col-md-3
                                    h5
                                        strong 备注
                                .col-md-9
                                    h4 #{form.comment}

            .panel.panel-danger(style='margin-top: 1em')
                .panel-heading
                    h3.panel-title(style='text-align:center') 审批
                .panel-body
                    form#app-examine.form-horizontal(method='post' action='/app-examine/'+form._id )
                        #notice.alert.alert-danger.hide
                            | 错误提示！
                        .form-group
                            label.col-md-3.control-label 审批
                            .col-md-4
                                input#agree.form-control(type="radio" name="state" value='0')
                                label(for='agree') &nbsp;&nbsp;同意借出
                            .col-md-4
                                input#agree.form-control(type="radio" name="state" value='1')
                                label(for='disagree') &nbsp;&nbsp;不同意
                            .col-md-4(style='padding-bottom:10px')
                        .form-group
                            label.col-md-3.control-label
                            .col-md-4
                                input#agree.form-control(type="radio" name="state" value='2')
                                label(for='agree') &nbsp;&nbsp;到期已还
                            .col-md-4
                                input#agree.form-control(type="radio" name="state" value='3')
                                label(for='disagree') &nbsp;&nbsp;过期未还
                        .form-group
                            label.col-md-3.control-label 备注
                            .col-md-6
                                textarea.form-control(type='text', rows="10" name='comment', placeholder='备注' ) #{form.comment}
                        .form-group
                            // Button
                            .col-md-offset-4.col-md-6
                                button#btn-signup.btn.btn-info(type='submit') 确认

                    //- include ../footer
block scripts
    script(src='/js/jquery.form.min.js')
    script(src="/js/icheck.min.js")
    script.
        $(document).ready(function(){
          $('input').iCheck({
            checkboxClass: 'icheckbox_square-red',
            radioClass: 'iradio_square-red',
            increaseArea: '20%' // optional
          });
        $('#app-examine').submit(function(){
        $(this).ajaxSubmit({
            error: function(xhr) {
            status('Error: ' + xhr.status);
            },
            success: function(response) {
            console.log(response);
                //$("#resetpwd").empty();
                $("#notice").empty().removeClass('hide').text(response);
                }
             });
            return false;
          });
        });