extends ../_bootstrap
block body
	.container
		#myslider.carousel.slide(data-ride='carousel')
			ol.carousel-indicators
				each item ,i in carousels
					li(data-target='#myslider',data-slide-to=i)
			.carousel-inner(role='listbox')
				each item in carousels
					.item
						img(src=item.path,alt=item.title)
						.carousel-caption
							|#{item.title}

			a.carousel-control.left(href='/#myslider',role='button', data-slide='prev')
				span.glyphicon.glyphicon-chevron-left(aria-hidden='ture')
				span.sr-only Previous
			a.carousel-control.right(href='/#myslider',role='button', data-slide='next')
				span.glyphicon.glyphicon-chevron-right(aria-hidden='ture')
				span.sr-only Next
	.container
		.content
			.row
				.col-md-12
					h3.title-bg-line-bl
						span 新闻动态
						.float_div
							a.btn.btn-primary.btn-sm(href='/news' type='button',role='button') 更多内容
					.post-list
						each item in documentList
							.col-md-6
								article.post(style='padding-bottom:10px')
									.row
										.col-xs-3.col-md-3
											a(href='/news/'+item._id, target='_blank')
												img(src=item.sImg, alt=item.title)
										.col-xs-9.col-md-9
											h4.post-title
												a(href='/news/'+item._id, target='_blank') #{item.title}
											ul.post-meta
												li
													span.glyphicon.glyphicon-time(aria-hidden='true')
													|#{myDateFormat(item.meta.updateDate)}
												li
													span.glyphicon.glyphicon-user(aria-hidden='true')
													|由#{item.author}发布
												li
													span.glyphicon.glyphicon-eye-open(aria-hidden='true')
													|#{item.clickNum}次阅览
	.container
		.content
			.row
				.col-md-6
					h3.title-bg-line-rd
						span 新闻动态
						.float_div
							a.btn.btn-danger.btn-sm(type='button',role='button') 更多内容
					.list-group
						each item in documentList
							a.list-group-item(href='/news/'+item._id)
								span.badge #{myDateFormat(item.meta.updateDate)}
								| #{item.title}
				.col-md-6
					h3.title-bg-line-yl
						span 新闻动态
						.float_div
							a.btn.btn-warning.btn-sm(type='button',role='button') 更多内容
					.list-group
						each item in documentList
							a.list-group-item(href='/news/'+item._id)
								span.badge #{myDateFormat(item.meta.updateDate)}
								| #{item.title}

	.container
		.content
			.row
				.col-md-12
					h3.title-bg-line-yl
						span 新闻动态
						.float_div
							a.btn.btn-primary.btn-sm(href='/news' type='button',role='button') 更多内容
					.list-group
						each item in documentList
							a.list-group-item(href='/news/'+item._id)
								span.badge #{myDateFormat(item.meta.updateDate)}
								| #{item.title}
block scripts
	script(src="/js/load.js")
