extends sidebar
block ueditor
    link(rel='stylesheet prefetch', href='https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css')
block body
    .container-fluid
        .content
            .panel.panel-success
                    .panel-heading
                        h3.panel-title(style='text-align:center') 新到申请
                    .panel-body
                        table#list.table.table-hover(cellspacing="0" width="100%")
                            thead
                                tr
                                    th No.
                                    th 申请人
                                    th 申请时间
                                    th 借用设备
                                    th 借用日期
                                    th 归还日期
                                    th 申请状态
                                    th 操作
                            tbody
                                each item ,i in forms
                                    tr.clickable-row(class='item-id-'+item._id)
                                        th(scope='row') #{i+1}
                                        td #{item.user.name}
                                        td #{moment(item.date).format('YYYY-MM-DD dddd a h:MM')}
                                        td #{item.devices}
                                        td #{item.outTime}
                                        td #{item.returnTime}
                                        td
                                            - var state = item.state
                                            case state
                                                when 0
                                                    btn.btn-success.btn-sm 同意借出
                                                when 1
                                                    btn.btn-warning.btn-sm 不同意
                                                when 2
                                                    btn.btn-info.btn-sm 到期已还
                                                when 3
                                                    btn.btn-danger.btn-sm 过期未还
                                                when 4
                                                    btn.btn-primary.btn-sm 申请当中
                                                //-when default
                                                    btn.btn-primary.btn-sm 申请中
                                        td: a.btn.btn-danger.btn-xs(target="_blank", href='/manage/application/'+item._id , role='button') 审批
        //- include ../footer
block scripts
    script(src='https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js')
    script(src='https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js')
    script(src='/js/list.js')